{% extends "base.html" %}
{% from "macros.html" import render_pagination,render_jobs,render_companys %}
{% block body %}
 <div class="jumbotron">
    <div class="container">
         <h1>JOBPLUS4-5</h1>
         <p>好工作尽在jobplus</p>
         <p><a class="btn btn-primary btn-lg" href="#" role="button">Go</a></p>
         </div>
         </div>
 <div class="alert alert-info" role="alert">热门岗位</div>
    <li>
    {% for job in jobs %}
        {{render_jobs(job)}}
    {% endfor %}
    </li>
 <div class="alert alert-info" role="alert">热门公司</div>
    <li>
    {% for company in companys %}
        {{render_companys(company)}}
    {% endfor %}
    </li>
</div>
{% endblock %}
{% block js_css %}
{{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
{% endblock %}
