{% macro render_form(form,url) %}
<!-- 传入form后，表单根据设的类型,渲染对样的页面-->
<form method="POST" action="{{ url }}">
    {{ form.csrf_token }}
    {% for field in form %}
        {% if field.type == "CSRFTokenField" %}
        {{ '' }}
        {% elif field.type == "SubmitField" %}
        {{ form.submit(class="btn btn-primary",type="submit") }}
        {% elif field.type == "BooleanField" %}
        <div class="checkbox">
            <label> {{ field() }} {{ feild.label.text }}</abel>
        </div>
        {% else %}
       <!-- <div class="form-group">
            {{ field.label }} {{ field(class="form-control") }}
        </div>-->
       <!-- 当errors不为空，添加has-error类，这样输入框变成红色                -->
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {{ field.label }} {{ field(class='form-control') }}
        <!-- 当errors不为空的时候，遍历每一个 -->
            {% if field.errors %}
                {% for error in field.errors %}
                <!-- -->
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% endif %}
     {% endfor %}
</form>
{% endmacro %}
{% macro render_pagination(pagination, endpoint) %}
<nav class="nav-pagination" aria-label="Page navigation">
      <ul class=pagination>
      <li{% if not pagination.has_prev %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.prev_num) if pagination.has_prev else '#'}}">&laquo;</a></li>
       {% for page in pagination.iter_pages() %}
        {% if page %}
            {% if page != pagination.page %}
                <li><a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a></li>
            {% else %}
                <li class="active"><a href="#">{{page}} <span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% else %}
            <span class=ellipsis></span>
        {% endif %}
      {% endfor %}
      <li{% if not pagination.has_next %} class="disabled"{% endif %}><a href="{{url_for(endpoint, page=pagination.next_num) if pagination.has_next else '#'}}">&raquo;</a></li>
      
    </ul>
</nav>
  {% endmacro %}
{% macro render_jobs(job) %}
<div class="row">
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
            <img src="{{job.job_url}}" alt="..."></img>
        <div class="caption">
            <h3>{{job.name}}</h3>
            <p>{{job.salary}}/{{job.experience}}/{{job.location}}</p>
            <p><span class="btn btn-primary" role="button">投递简历</span><a href="{{url_for('jobs.job_detail',job_id=job.id)}}" class="btn btn-default" role="button">查看更多</a></p>
        </div>
    </div>
    </div>

{% endmacro %}
{% macro render_companys(company) %}
    <div class="col-xs-6 col-md-4">
        <div class="thumbnail">
        <div class="media">
            <a class="pull-left" href="#">
            <img class="media-object" src="{{url_for('static',filename="1.jpg")}}" width='50'height="50" center alt="...">
            </a>
        <div class="media-body">
            <h4 class="media-heading">{{company.name}}</h4>
            <p>{{company.id}}</p>
        </div>
        </div>
        </div>
    </div>
{% endmacro %}
