{% from "macros.html" import render_form %}
{% extends "base.html" %}
<!-- 企业用户登录首页-->
{% block title %}
hr configure
{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-3">
        <h2>hello {{user.username}}</h2>
        <div class="list-group">
        <a href="{{url_for('user.resume_list',user_id=current_user.id)}}" class="list-group-item">用户管理</a>
        <a href="{{url_for('user.resume_list',user_id=current_user.id)}}" class="list-group-item">简历查看</a>
        <a href="{{url_for('user.job_list',user_id=current_user.id)}}" class="list-group-item">职位查看</a>
        <a href="{{url_for('user.create_job',user_id=current_user.id)}}" class="list-group-item">添加职位</a>
        </div>
    </div>
    <div class="col-md-9">
    {% block index %}
        <h2>{{user.username}}:企业信息</h2>
        <div class="container">
        <p>{{ company.name }}</p>
        <p>{{ company.website }}</p>
        <p>{{ company.location }}</p>
        <p>{{ company.description }}</p>
        </div> 
    {% endblock%}
    </div>
</div>
</div>
{% endblock %}
