.nav-pagination {
  text-align: center;
  }
.table{
width: 80%;
max-width: 80%;
margin-bottom: 20px;
}

.media{
 text-overflow: ellipsis;
 overflow: hidden;
 white-space: nowrap;
}
.thumbnail{
 padding: 13px;
 border: solid 1px #ddd;
 border-radius: 5px;
 margin-bottom: 15px;
 overflow: hidden;

}
