{% extends "base.html" %}
{% block body %}
 <div class="jumbotron">
         <div class="container">
            <h1>JOBPLUS4-5</h1>
         </div>
</div>
<div class= "row">
<div class="col-md-9">
<div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">{{job.name}}</div>
          <div class="panel-body">
              <p>职位指责：{{job.description}}</p>
              <p>职位指责：{{job.description}}</p>
           </div>
           <div class="panel panel-primary">薪资：{{job.sarary}}</div>
           <div class="panel panel-success">工作经验：{{job.expeirence}}</div>
           <div class="panel panel-info">工作地点：{{job.location}}</div>
           <div class="panel panel-warning">学历要求：{{job.degree}}</div>
           <div class="panel panel-danger">发布时间：{{job.create_at}}</div>
           <p>{{job.current_user_is_applied}}</p>
           {% if current_user.is_authenticated %}
           {% if not job.current_user_is_applied %}
           <a href="{{url_for('jobs.deliver',job_id=job.id,user_id=current_user.id)}}" class="btn btn-primary btn-lg active" role="button">投递简历</a>

           {% else %}
           <a href="#" class="btn btn-primary btn-lg active" role="button" disable="disable">简历已投递</a>
            {% endif %}
            {% else %}
           <a href="{{url_for('front.login')}}" class="btn btn-primary btn-lg active" role="button">投递简历</a>
           {% endif %}
        </div>
</div>
<div class="col-md-3">
    <a class="thumbnail">
        <img src="{{job.job_url}}">
        </a>
    </div>
</div>
{% endblock %}

